<div class="jumbotron">
	<h1>Welcome to My First Web Application</h1>
	<p>You have found the homepage of this rails application designed to be a 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	</p>
	<p><%= link_to "Sign up here", "#", class: "btn btn-primary btn-large" %></p>
</div>